/*******************************************************
styles copied from welcome.php, etc
 *******************************************************/
.header {
	overflow: hidden;
}

.matchem {
	background: red;
	padding-bottom: 2000px;
	margin-bottom: -2000px;
	float: left;
	width: 100px;
	margin-right: 20px;
}

.nextbutton {
	background-color: #069B54; /* GREEN */
	border: none;
	color: white;
	padding: 5px 5px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 10px;
	margin: 4px 2px;
	cursor: pointer;
}

.donebutton {
	background-color: #EF5F0A; /* ORANGE */
	border: none;
	color: white;
	padding: 5px 5px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 10px;
	margin: 4px 2px;
	cursor: pointer;
}

.anotherbutton {
	background-color: #008FD9; /* BLUE */
	border: none;
	color: white;
	padding: 5px 5px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 10px;
	margin: 4px 2px;
	cursor: pointer;
}

.centered {
	margin: auto;
	width: 60%;
	border: 6px ridge rgb(0, 159, 222);
	color: rgb(0, 0, 0);
	padding: 10px;
	box-shadow: 5px 5px 5px #cccccc;
	border-radius: 8px;
	position: relative;
}

.h2 {
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	font-weight: bold;
	color: rgb(0, 163, 222);
}

.h3 {
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	font-weight: bold;
	color: black;
}

.p1 {
	display: inline;
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	font-weight: bold;
	color: rgb(0, 163, 222);
	font-size: 18px;
}

.p2 {
	display: inline;
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	font-weight: bold;
	color: rgb(0, 163, 222);
	font-size: 18px;
}

.form-els {
	display: inline;
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	font-weight: bold;
}

.button-text {
	display: inline;
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-weight: bold;
}

.org-hr {
	width: 100%;
	border-style: outset;
	border-width: 3px;
	color: rgb(242, 117, 34);
}

a.tooltip {
	outline: none;
}

a.tooltip strong {
	line-height: 30px;
}

a.tooltip:hover {
	text-decoration: none;
}

a.tooltip span {
	z-index: 10;
	display: none;
	padding: 14px 20px;
	margin-top: -30px;
	margin-left: 28px;
	width: 400px;
	line-height: 16px;
	text-align: left;
}

a.tooltip:hover span {
	display: inline;
	position: absolute;
	color: #111;
	border: 1px solid #DCA;
	background: #fffAF0;
}

.callout {
	z-index: 20;
	position: absolute;
	top: 30px;
	border: 0;
	left: -12px;
}

/*CSS3 extras*/
a.tooltip span {
	border-radius: 4px;
	box-shadow: 5px 5px 8px #CCC;
}
